<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.49" targetFramework="net46" />
  <package id="Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool" version="9.1.0.184" targetFramework="net46" />
  <package id="Microsoft.Xrm.Sdk.2015" version="7.1.0.1085" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net46" />
</packages>